*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

button {
  color: inherit;
}

button, [role="button"] {
  cursor: pointer;
}

img,
svg {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif;
  body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
}

#header {
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  #header-items {
    max-height: 400px;
    overflow: hidden;
    padding: 1rem;
    transition: max-height 0.5s, padding 0.5s;
    &.collapsed {
      max-height: 0px;
      padding-bottom: 0;
      padding-top: 0;
    }
    label {
      color: #333;
      display: inline-block;
      font-size: 1rem;
      font-weight: bold;
      margin-right: 1rem;
    }
    .filter {
      appearance: none;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      color: #333;
      display: inline-block;
      padding: 0.5rem;
      font-size: 1rem;
      margin-right: 1rem;
      transition: all 0.2s;
      .group {
        font-weight: bold;
        font-style: italic;
      }
    }
    #packs {
      .set-name {
        align-content: center;
        text-align: center;
        flex-basis: 100px;
        flex-grow: 0;
      }
      .pack {
        display: flex;
        flex-direction: column;
        margin-top: 8px;
        .progress-bar {
          border-color: black;
          border-radius: 8px;
          border-style: solid;
          border-width: 0px 1px 1px 0px;
          height: 16px;
          overflow: hidden;
          & > div {
            align-content: center;
            background: fuchsia;
            border-radius: inherit;
            height: 100%;
            text-align: center;
          }
          &:not(.secret) > div {
            filter: saturate(80%);
          }
          &[data-pack="A1"] > div {
            background: hsl(270, 100%, 50%);
          }
          &[data-pack="A1-mewtwo"] > div {
            background: hsl(280, 100%, 50%);
          }
          &[data-pack="A1-pikachu"] > div {
            background: hsl(50, 100%, 50%);
          }
          &[data-pack="A1-charizard"] > div {
            background: hsl(20, 100%, 50%);
          }
          &[data-pack="A1a"] > div {
            background: hsl(150, 50%, 50%);
          }
          &[data-pack="A2"] > div {
            background: hsl(0, 0%, 50%);
          }
          &[data-pack="A2-dialga"] > div {
            background: hsl(220, 100%, 50%);
          }
          &[data-pack="A2-palkia"] > div {
            background: hsl(290, 100%, 50%);
          }
          &[data-pack="A2a"] > div {
            background: hsl(40, 100%, 50%);
          }
          &[data-pack="A2b"] > div {
            background: hsla(0, 0%, 75%);
          }
          &[data-pack="PROMO-A"] > div {
            background: hsl(0, 0%, 50%);
          }
          &[data-pack="rest"] > div {
            background: hsl(0, 0%, 75%);
          }
        }
      }
    }
  }
  #header-toggle {
    border: none;
    width: 100%;
  }
}

#cards {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  padding: 16px;
  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    max-width: 256px;
    min-height: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: transform 0.2s;
    &:hover {
      transform: translateY(-5px);
    }
    .card-image {
      height: auto;
      width: 100%;
    }
    .counter {
      bottom: 0px;
      background: #575757;
      border-radius: 0px 8px 0px 0px;
      color: white;
      font-size: medium;
      font-weight: bold;
      position: absolute;
      width: 40%;
    }
    .index {
      bottom: 0px;
      background: #e0e0e0;
      border-radius: 8px 0px 0px 0px;
      font-size: medium;
      font-style: italic;
      font-weight: bold;
      position: absolute;
      right: 0px;
      width: 40%;
    }
    .pack-image {
      position: absolute;
      right: 0px;
      top: 0px;
      width: 40%;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.display-flex {
  display: flex;
}

.display-flex > * {
  flex: 1;
}

.display-none {
  display: none;
}
